{:deps
 {org.clojure/clojure {:mvn/version "1.12.4"}
  org.clojure/clojurescript {:mvn/version "1.12.134"}}
 :paths ["src"]

 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}

  :test-node
  {:extra-paths ["test"]
   :exec-fn csvx.test-helper/run-node-tests
   :exec-args {}}

  :test-browser
  {:extra-paths ["test"]
   :exec-fn csvx.test-helper/run-browser-tests
   :exec-args {}}}}
